body {
    font-family: system-ui, sans-serif;
    text-align: center;
    background: #f9f9f9;
    padding: 0px 10px 15px 10px; /* top right bottom left */
    background-image: url("Snow.jpg");
    background-size: cover;        /* fill the screen */
    background-position: center;   /* center the image */
    background-repeat: no-repeat;  /* no tiling */
    background-attachment: fixed;  /* stays still on scroll */
}

.button-container {
    display: flex;
    justify-content: flex-end; /* pushes button to the right */
    margin-bottom: 5px;
}

#toggleButton {
    /* Fixed for the toggleButton */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

    /* Changes */
    background-color: rgb(192, 204, 192);
    color: darkgreen;
    border: 2px solid darkgreen; /* width + style + color */
}

/* Dark mode overrides */
body.dark-mode {
    background-color: black;
    color: white;
    background-image: url("Black-feather-background.jpg");
    background-size: cover;        /* fill the screen */
    background-position: center;   /* center the image */
    background-repeat: no-repeat;  /* no tiling */
    background-attachment: fixed;  /* stays still on scroll */
}

/* Dark Mode button */
body.dark-mode #toggleButton {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid rgb(119, 154, 117); /* width + style + color */
}

/* Links in dark mode */
body.dark-mode a {
    color: rgb(119, 154, 117);
}

body.light-mode {
    background-color: rgb(151, 188, 152);
}

.weather-container {
    padding: 0px 20px 0px 20px; /* top right bottom left */
    border-radius: 8px;
    font-family: system-ui, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#daily-forecast {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    max-width: 800px;
}

.weather-item {
    padding: 10px;
    background: #e8f1f7;
    color: #2a4558;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

body.dark-mode .weather-item {
    background: #2a4558;
    color: #e8f1f7;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}


.forecast-wrapper {
    overflow-x: auto;       /* horizontal scroll if too wide */
    padding: 20px 0;
    width: 100%;            /* full width of page */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hourly-forecast {
    display: flex;
    flex-wrap: nowrap;      /* prevent wrapping */
    gap: 3px;
}

.travel-widgets {
    display: flex;
    justify-content: center; /* items stay together at left */
    align-items: flex-start;
    gap: 10px;                  /* spacing between them */
}